/*
Configuration properties for the pipeline script pbs_job.nf
Run with "nextflow -C nextflow.config" to ignore any default configuration file
Yu Wan (13/2/2020)
*/

// Define the executor of PBS
executor {
    name = "pbs"
}


profiles {
    /*
    Sets of attributes that are activated when launching the pipeline using the -profile option.
    In this pipeline, I do not define a standard profile. As a result, users must use "-profile pbs_job"
    to run this pipeline.
    */

    // Definition of profile pbs_shifter
    pbs_shifter {
        process {
            /*
            Define a process scope under a profile rather than outside of the profiles scope enables users
            to specify which set of attributes to activate.
            Config the scope "process {...}" is equivalent to process.excutor = ..., process.clusterOptions = ...".
            */
    
            excutor = "pbs"  // Specify PBS (one of the supported executors of Nextflow) as the executor.
            clusterOptions = "-lselect=1:ncpus=1:mem=1gb"  // Mandatory statement for ICL's HPC
            time = "1h"
            errorStrategy = "retry"
            maxRetries = 1
        }
    }
}


manifest {
    // Pipeline metadata
    
    homePage = "https://www.microbialsystems.cn"
    description = "My second Nextflow pipeline, which requires 1 core and 1 Gb to run on an HPC."
    mainScript = "multiple_inputs.nf"
    version = "0.0.1"
}