/*
Copyright (C) 2020 Yu Wan <wanyuac@126.com>
Licensed under the GNU General Public License v3.0
Publication: 29/03/2020
*/

params {
    fasta = "*.fasta"  // A glob of input FASTA files
    annotDir = "annot"  // Output directory for genome annotations
    globalProkkaParams = "--force --addgenes --kingdom Bacteria --gcode 11 --usegenus --rfam --proteins ''"  // Constant parameters for all Prokka jobs
    perl5lib = ""  // Optional values for the environment variable PERL5LIB
    prokka = "./anaconda3/envs/prokka/bin"  // Directory of Prokka
    queueSize = 30  // Number of concurrent jobs submitted to the PBS
}


executor {
	$local {
		cpus = 4
		memory = "8 GB"
	}
    
    $pbspro {
        queueSize = params.queueSize
    }
}


profiles {
	standard {
		process.executor = "local"
	}
    
    pbs {
        process {
            executor = "pbspro"
            clusterOptions = "-lselect=1:ncpus=4:mem=8gb:ompthreads=4"
            time = "16h"
            errorStrategy = "terminate"
        }
    }
}


manifest {
    homePage = "https://github.com/wanyuac/Nextflow_pipeline"
    description = "Annotate genome assemblies using Prokka"
    mainScript = "prokka.nf"
    version = "0.0.1"
}
