/*
Copyright (C) 2020-2022 Yu Wan <wanyuac@126.com>
Licensed under the GNU General Public License v3.0
Publication: 29 March 2020; latest update: 27 May 2022
*/

params {
    fastq = "*_{1,2}.fastq.gz"  // Paired FASTQ files taken as input
    outdir = "output"  // Output directory for assemblies
    queueSize = 10  // Number of concurrent jobs submitted to the PBS
    cpus = 8
    gb = 10  // Memory allocation in GB
}

executor {
	$local {
		cpus = params.cpus
		memory = "${params.gb} GB"
	}
    
    $sge {
        queueSize = params.queueSize
    }

    $pbs {
        queueSize = params.queueSize
    }

    $pbspro {
        queueSize = params.queueSize
    }
}

profiles {
	standard {
		process.executor = "local"
	}
    
    sge {
        process {
            executor = "sge"
            clusterOptions = "-N Unicycler"
            clusterOptions = "-pe multithread ${params.cpus}"
            time = "24h"
            errorStrategy = "retry"
            maxRetries = 2
        }
    }

    pbs {
        process {
            executor = "pbs"
            clusterOptions = "-N Unicycler"
            clusterOptions = "-l select=1:ncpus=${params.cpus}:mem=${params.gb}gb:ompthreads=${params.cpus}"
            time = "24h"
            errorStrategy = "terminate"
        }
    }

    pbspro {
        process {
            executor = "pbspro"
            clusterOptions = "-N Unicycler"
            clusterOptions = "-l select=1:ncpus=${params.cpus}:mem=${params.gb}gb:ompthreads=${params.cpus}"
            time = "24h"
            errorStrategy = "terminate"
        }
    }
}

manifest {
    homePage = "https://github.com/wanyuac/Nextflow_pipeline"
    description = "Assemble paired-end short reads using Unicycler."
    mainScript = "run_unicycler.nf"
    version = "0.0.4"
}
