/*
Copyright (C) 2020 Yu Wan <wanyuac@126.com>
Licensed under the GNU General Public License v3.0
Publication: 27 February 2020; last modification: 18 May 2022
*/

params {  // Define parameters and their default values
    // Global settings
    outdir = "./trimmed"
    queueSize = 10

    // Parameters for FastQC
    fastqcDir = "."  // Directory containing fastqc, no forward slash follows
    fastq = "*_{1,2}.fastq.gz"

    // Parameters for Trimmomatic
    trimmomaticDir = "."  // Directory containing trimmomatic.jar, no forward slash follows
    slidingWindow = null
    minLen = 0
    maxLen = 0
    
    // Parameter for multiQC
    multiqcDir = "."  // Directory where multiqc is located
}


executor {
    $local {
        cpus = 1
        memory = "4 GB"
    }
    
    $pbspro {
        /*
        Specify the maximal number of concurrent jobs
        https://github.com/nextflow-io/nextflow/issues/1110
        */
        queueSize = params.queueSize
    }
}


profiles {
    standard {
        process.executor = "local"
    }
    
    pbspro {
        process {
            /*
            Every process requests 2 cores and 4 GB to run
            Must use pbspro rather than pbs to circumvent an issue (see https://github.com/nextflow-io/nextflow/issues/1106)
            */
            executor = "pbspro"
            clusterOptions = "-N Trimmomatic"
            clusterOptions = "-l select=1:ncpus=4:mem=4gb:ompthreads=4"
            time = "24h"
            errorStrategy = "terminate"
        }
    }
}


trace {
    // Default name of the trace file: trace.txt
    enabled = true
    fields = "task_id,\
              hash,\
              process,\
              tag,\
              status,\
              exit,\
              start,\
              cpus,\
              time,\
              disk,\
              memory,\
              duration,\
              realtime,\
              %cpu,\
              %mem"
}


manifest {
    homePage = "https://github.com/wanyuac/Pipeline"
    description = "A QC pipeline sending its outputs to specified directories."
    mainScript = "trimmomatic_pe.nf"
    version = "0.0.4"
}
