/*
Copyright (C) 2020 Yu Wan <wanyuac@126.com>
Licensed under the GNU General Public License v3.0
Publication: 27/02/2020; last modification: 17/3/2020
*/

params {  // Define parameters and their default values
    // Global settings
    outdir = "./trimmed"
    queueSize = 15

    // Parameters for FastQC
    fastqcDir = "."  // Directory containing fastqc, no forward slash follows
    fastq = "*_{1,2}.fastq.gz"

    // Parameters for Trimmomatic
    trimmomaticDir = "."  // Directory containing trimmomatic.jar, no forward slash follows
    slidingWindow = "5:30"
    minLen = 50
    maxLen = 250
    
    // Parameter for multiQC
    multiqcDir = "."  // Directory where multiqc is located
}


executor {
    $local {
        cpus = 1
        memory = "4 GB"
    }
    
    $pbspro {
        /*
        Specify the maximal number of concurrent jobs
        https://github.com/nextflow-io/nextflow/issues/1110
        */
        queueSize = params.queueSize
    }
}


profiles {
    standard {
        process.executor = "local"
    }
    
    pbs {
        process {
            /*
            Every process requests 2 cores and 4 GB to run
            Must use pbspro rather than pbs to circumvent an issue (see https://github.com/nextflow-io/nextflow/issues/1106)
            */
            executor = "pbspro"
            clusterOptions = "-lselect=1:ncpus=2:mem=4gb"
            time = "6h"
            errorStrategy = "terminate"
        }
    }
}


trace {
    // Default name of the trace file: trace.txt
    enabled = true
    fields = "task_id,\
              hash,\
              process,\
              tag,\
              status,\
              exit,\
              start,\
              cpus,\
              time,\
              disk,\
              memory,\
              duration,\
              realtime,\
              %cpu,\
              %mem"
}


manifest {
    homePage = "https://github.com/wanyuac/Nextflow_pipeline"
    description = "A QC pipeline sending its outputs to specified directories."
    mainScript = "trimmomatic_pe.nf"
    version = "0.0.2"
}
