// Yu Wan (14/02/2020)

params {  // Define parameters and their default values
    // Parameters for FastQC
    fastq = "*_{1,2}.fq.gz"

    // Parameters for Trimmomatic
    trimSlidingWindow = "6:20"
    trimMinLength = 55
}


executor {
	local {
		cpus = 1
		memory = "4 GB"
	}
}


profiles {
	standard {
		process.executor = "local"
	}
	
    pbs_conf {
        process {
            /*
            Every process requests 2 cores and 4 GB to run
            Must use pbspro rather than pbs to circumvent an issue (see https://github.com/nextflow-io/nextflow/issues/1106)
            */
            executor = "pbspro"
            clusterOptions = "-lselect=1:ncpus=2:mem=4gb"
			time = "2h"
            errorStrategy = "terminate"
        }
    }
}


trace {
    // Default name of the trace file: trace.txt
    enabled = true
    fields = "task_id,\
              hash,\
              process,\
              tag,\
              status,\
              exit,\
              start,\
              cpus,\
              time,\
              disk,\
              memory,\
              duration,\
              realtime,\
              %cpu,\
              %mem"
}


manifest {
    homePage = "https://github.com/wanyuac/Nextflow_pipeline"
    description = "A simple pipeline for QC."
    mainScript = "qc1.nf"
    version = "0.0.1"
}
