/*
Copyright (C) 2020 Yu Wan <wanyuac@126.com>
Licensed under the GNU General Public License v3.0
Publication: 29/03/2020
*/

params {
    fastq = "*_{1,2}.fastq.gz"  // Paired FASTQ files taken as input
    readsdir = "."  // Directory of input reads
    outdir = "output"  // Output directory for assemblies
    queueSize = 30  // Number of concurrent jobs submitted to the PBS
}


executor {
	$local {
		cpus = 4
		memory = "32 GB"  // Previous runs did not use more than 40 GB memmory.
	}
    
    $sge {
        queueSize = params.queueSize
    }
}


profiles {
	standard {
		process.executor = "local"
	}
    
    sge {
        process {
            executor = "sge"
            clusterOptions = "-N SPAdes"
            clusterOptions = "-pe multithread 4"
            time = "24h"
            errorStrategy = "retry"
            maxRetries = 2
        }
    }
}


manifest {
    homePage = "https://github.com/wanyuac/Nextflow_pipeline"
    description = "Assemble paired-end short reads using Unicycler."
    mainScript = "unicycler.nf"
    version = "0.0.1"
}
